{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class='std-form'>
<h1>{{ action }} {{ type }}</h1>
{% if form_error %}
<div class='alert alert-danger center-text'>
    Category <em>{{ form_error.title }}</em> {{ form_error.error }}
</div>
{% endif %}
<form action='#' method='post'>
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <input type='submit' class='btn btn-primary' name='create_account' value='Submit'/>
    <a class='btn btn-default' href='{% url "project_home" owner=user.username title=project %}'>Cancel</a>
</form>
</div>
<div class='row col-md-6 col-md-offset-3'>
    <h4>Existing Categories:</h4>
    <ul>
        {% for category in categories_ %}
            <li>{{ category }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
