{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}
{{ action }} {{ type }} &#8226; {{ project }} &#8226; Corvid
{% endblock %}
{% block content %}
<div class='std-form'>
  <form action='#' method='post'>
    <div class="row">
      <div class="go-left">
        <h1>{{ action }} {{ type }}</h1>
      </div>
      <div class="go-right pad-vert-5x">
        <a class='btn btn-default' href='{% url "project_home" owner=user.username title=project %}'>Cancel</a>
        <input type='submit' class='btn btn-primary' name='create_account' value='Submit'/>
      </div>
    </div>
    {% csrf_token %}
    {{ form|as_bootstrap }}
</form>
</div>
{% endblock %}
