{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
<div class='col-md-12 actions-bar'>
    <a class='actions' href="{% url 'site_generation' owner=owner proj_title=title %}"><span class='glyphicon glyphicon-download'></span> Download ZIP</a>
    <div class='btn-group'>
        <button class='dropdown-toggle actions' data-toggle='dropdown'>
            Categories <span class="caret"></span>
        </button>
        <ul class='dropdown-menu'>
            {% for category in categories %}
            <li>
                <div class='go-left'>
                    <a class='actions dropdown-title' href='{% url 'edit_category' owner=owner title=title category_id=category.id %}'>{{ category.title }}</a>
                </div>
                <div class='go-right'>
                    <a class='action' href='{% url 'edit_category' owner=owner title=title category_id=category.id %}'>
                        <span class='glyphicon glyphicon-edit actions'><span>
                    </a>
                    <a href="{% url 'delete_category' owner=owner title=title category_id=category.id %}">
                        <span class='glyphicon glyphicon-trash actions'></span></a>
                </div>
            </li>
            {% endfor %}
            <li>
                <a class='actions' href="{% url 'new_category' owner=owner title=title %}"><span class='glyphicon glyphicon-plus'></span> New Category</a>
            </li>
        </ul>
    </div>
    <div class='btn-group'>
        <button class='dropdown-toggle actions' data-toggle='dropdown'>
            Project Plugins <span class="caret"></span>
        </button>
        <ul class='dropdown-menu'>
            {% for plugin in project_plugins_ %}
            <li>
                <div class='go-left'>
                    <a class='actions dropdown-title' href='{% url 'edit_project_plugin' owner=owner title=title project_plugin_id=plugin.id %}'>{{ plugin.title }}</a>
                </div>
                <div class='go-right'>
                    <a class='action' href='{% url 'edit_project_plugin' owner=owner title=title project_plugin_id=plugin.id %}'>
                        <span class='glyphicon glyphicon-edit actions'><span>
                    </a>
                    <a href="{% url 'delete_project_plugin' owner=owner title=title project_plugin_id=plugin.id %}">
                        <span class='glyphicon glyphicon-trash actions'></span></a>
                </div>
            </li>
            {% endfor %}
            <li>
                <a class='actions' href="{% url 'new_project_plugin' owner=owner title=title %}"><span class='glyphicon glyphicon-plus'></span> New Project Plugin </a>
            </li>
        </ul>
    </div>
    <a class='actions' href='{% url 'project_settings' owner=owner title=title %}'><span class='glyphicon glyphicon-cog'></span> Project Settings</a>
    <a class='actions' href='{% url 'delete_project' owner=owner title=title %}'><span class='glyphicon glyphicon-trash'></span> Delete Project</a>
</div>
<div class='col-md-6 text-left'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h2 class='panel-title'>Pages</h2>
        </div>
        <ul class='list-group'>
            {% for page in pages_ %}
            <li class='list-group-item'>
                <a class='actions' href="{% url 'edit_page' owner=owner proj_title=title page_id=page.id %}">
                    <span class='pp-title'>{{ page.title }}</span></a>
                <div class='go-right'>
                    <a href="{% url 'edit_page' owner=owner proj_title=title page_id=page.id %}">
                        <span class='glyphicon glyphicon-edit actions'></span></a>
                    <a href="{% url 'delete_page' owner=owner proj_title=title page_id=page.id %}">
                        <span class='glyphicon glyphicon-trash actions'></span></a>
                </div>
            </li>
            {% endfor %}
            <li class='list-group-item'>
                <a class='actions' href="{% url 'new_page' owner=owner title=title %}"><span class='glyphicon glyphicon-plus'></span> New Page</a>
            </li>
        </ul>
    </div>
</div>
<div class='col-md-6 text-left'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h2 class='panel-title'>Posts</h2>
        </div>
        <ul class='list-group'>
            {% for post in posts_ %}
            <li class='list-group-item'>
                <a class='actions' href="{% url 'edit_post' owner=owner proj_title=title post_id=post.id %}">
                    <div class='pp-title'>{{ post.title }}</div></a>
                {% if post.category %}
                <a class='label label-info' href='{% url 'edit_category' owner=owner title=title category_id=post.category.id %}'>{{ post.category }}</a>
                {% endif %}
                <div class='go-right'>
                    <a href="{% url 'edit_post' owner=owner proj_title=title post_id=post.id %}">
                        <span class='glyphicon glyphicon-edit actions'></span></a>
                    <a href="{% url 'delete_post' owner=owner proj_title=title post_id=post.id %}">
                        <span class='glyphicon glyphicon-trash actions'></span></a>
                </div>
            </li>
            {% endfor %}
            <li class='list-group-item'><a class='actions' href="{% url 'new_post' owner=owner title=title %}"><span class='glyphicon glyphicon-plus'></span> New Post</a></li>
        </ul>
    </div>
</div>
{% endblock %}
