.std-form {
    max-width: 500px;
    margin: auto;
}

.login {
    width: 300px;
    margin: auto;
}

#nav-corvid {
    font-family: 'Indie Flower', cursive;
    font-size: 30;
    vertical-align: middle;
    color: black;
    padding: 2px;
}

#nav-logo {
    height: 100%;
    display: inline;
}

#logout {
    color: black;
    float: right;
}

.go-right {
    float: right;
}

.actions {
    color: black;
    padding: 0px 5px;
    vertical-align: middle;
    text-decoration: none;
}
.actions-bar {
    padding-bottom: 5px;
}

.pp-title {
    max-width: 50%;
    display: inline-block;
    font-size: 18;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
