{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-1'></div>
  <div class='col-md-8 text-center jumbotron'>
    <h1>Welcome to Corvid!</h1>
    
    <p>
      Corvid is a website creation tool for the average person.
    </p>
  </div>
  <div class='col-md-1'></div>
  <div class='col-md-1'></div>
</div>
<div class='clearfix'></div>
<div class='login'>
<form action='#' method='post' >
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class='form-actions'>
        <input class='btn btn-primary col-md-12' type='submit' name='login' value='Login'/>
        <a href='/register'>Create Account</a>
    </div>
</form>
</div>
{% endblock %}
